In [2]:
# This notebook calcualtes some rough figures for the location, area and pop of new 2023 authorities
# x and y, long and lat not the center (are the average of previous centers)

import pandas as pd
from pathlib import Path

df = pd.read_csv(
    Path("..", "data", "packages", "uk_la_future", "uk_local_authorities_future.csv")
)

In [3]:
d = df[(df["end-date"] == "2023-04-01") & (df["local-authority-type"] != "CTY")]


# get count by local-authority-type-name
d.pivot_table(
    index="local-authority-type-name",
    values="local-authority-code",
    aggfunc="count",
)

                           local-authority-code
local-authority-type-name
Non-metropolitan district                    17

In [4]:

# in a pivot table where replaced-by is the index
# I want the sum of area, and pop-2000
# I want the average of x and y

pt = d.pivot_table(
    index="replaced-by",
    values=["area", "pop-2020", "x", "y", "long", "lat"],
    aggfunc={"area": "sum", "pop-2020": "sum", "x": "mean", "y": "mean", "long": "mean", "lat": "mean"},
)
pt["area"] = pt["area"].astype(int)
pt["pop-2020"] = pt["pop-2020"].astype(int)
pt

             area       lat       long  pop-2020              x              y
replaced-by
CBD          3012 -3.143266  54.698623    274396  326336.035376  534360.585454
NYE          8037 -1.377838  54.165611    620610  440702.843375  474726.283433
SMT          3450 -2.892495  51.115611    563851  337618.984616  135570.855915
WAF          3755 -2.894728  54.344011    225385  341859.250420  494670.830120

In [5]:

just_area_pop = pt[["area", "pop-2020"]]

# print as comma seperates values in the notebook without saving a file
print(just_area_pop.to_csv(None, index=True))

replaced-by,area,pop-2020
CBD,3012,274396
NYE,8037,620610
SMT,3450,563851
WAF,3755,225385

In [6]:
just_x_y = pt[["x", "y", "long", "lat"]]
print(just_x_y.to_csv(None, index=True))

replaced-by,x,y,long,lat
CBD,326336.0353755673,534360.5854541283,54.69862280385885,-3.14326575232159
NYE,440702.8433753164,474726.28343334293,54.16561062368424,-1.3778378941997595
SMT,337618.9846160223,135570.8559151427,51.115610609784625,-2.892494846753527
WAF,341859.2504198118,494670.8301204606,54.34401050125833,-2.8947277204402977